@font-face {
    font-family: 'FA-Icons-Home';
    src: url('https://mozorg.cdn.mozilla.net/media/fonts/icons-home.eot?12-2014#iefix') format('embedded-opentype'),
    url('https://mozorg.cdn.mozilla.net/media/fonts/icons-home.woff?12-2014') format('woff'),
    url('https://mozorg.cdn.mozilla.net/media/fonts/icons-home.ttf?12-2014') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, main, nav, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
}

body {
    border-top: 2px solid white;
    font-size: 0.875rem;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    color: #333;
    background: #FFF none repeat scroll 0% 0%;
}

#steps {
    background-color: #F6F4EC;
}

.main-header {
    background: #C13832 none repeat scroll 0% 0%;
    width: 100%;
    padding: 0;
}

#masthead .container {
    width: 960px;
    margin: 0px auto;
    padding: 0px 10px;
}

#masthead,
#main-feature,
#main-content,
#colophon,
.billboard,
.container {
    display: block;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
    width: 960px;
}

#masthead nav {
    float: right;
    margin: 0px 16px;
    text-transform: uppercase;
    font-size: 0.8125rem;
}

#masthead nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
}

#masthead nav li a:link, #masthead nav li a:visited {
    color: #FFF;
}

#masthead nav li a, #masthead nav li b {
    display: inline-block;
    padding: 12px;
    font-weight: normal;
}

.main-header {
    padding-top: 100px;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    color: #C13832;
    font-family: "Open Sans Light", "Open Sans", sans-serif;
    font-weight: normal;
    display: block;
    margin: 0px 0px 48px;
    line-height: 1;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    letter-spacing: -0.035em;
}

.head-stats {
    list-style: outside none none;
    margin: 30px auto;
    width: 960px;
    padding: 0px;
}

.head-stats li {
    float: left;
    width: 300px;
    margin: 0px 10px;
    text-align: center;
}

.head-stats strong {
    display: block;
    font-size: 2.625rem;
    line-height: 1.1;
    font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
    font-weight: normal;
}

.head-stats::after {
    display: block;
    visibility: hidden;
    height: 0px;
    clear: both;
    content: ".";
}

.section-title {
    font-family: "Open Sans Light", "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: -0.05em;
    line-height: 1.1;
    text-align: center;
    font-size: 2.625rem;
    margin: 0px auto 30px;
    padding-top: 1em;
}

#general-community p {
    margin-top: 3em;
}

#steps {
    text-align: center;
}

.steps {
    list-style: outside none none;
    margin: 0px;
}

.steps li {
    float: left;
    width: 220px;
    margin: 0px 10px;
    position: relative;
    padding: 140px 40px 0px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
}

.steps .step1 {
    background-image: url("images/step1.png");
}

.steps .step2 {
    background-image: url("images/step2.png");
}

.steps .step3 {
    background-image: url("images/step3.png");
}

.steps::after {
    display: block;
    visibility: hidden;
    height: 0px;
    clear: both;
    content: ".";
}

.steps li::after {
    content: "";
    font-family: "Font Awesome";
    font-size: 2.8125rem;
    color: #D7D3C8;
    position: absolute;
    right: -35px;
    top: 50px;
}

.cta {
    margin-top: 40px;
}

.cta a {
    font-family: "Open Sans", sans-serif;
    background-color: #0096DD;
    color: #FFF;
    display: inline-block;
    border: 0px none;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    font-size: 1.125rem;
    min-width: 240px;
    padding: 20px 30px;
}

.cta a::after {
    content: " »";
    white-space: nowrap;
}

.member-box {
    position: relative;
}

.members-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: outside none none;
    margin: 40px 0px;
    text-align: center;
}

.member-item {
    flex: auto;
}

.member-item h3 {
    margin-top: 1em;
}

.member-item img {
    display: block;
    width: 180px;
    height: 180px;
    border: 5px solid #C13832;
    border-radius: 100%;
    margin: 0 auto;
}

.member-item strong {
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: normal;
    margin: 0px 0px 0.25em;
}

.member-box-content {
    color: #fff;
    min-height: 200px;
    background-color: #C13832;
    padding: 0px 20px 10px 20px;
    box-shadow: 1px 1px 5px 0px rgba(169, 50, 50, 0.9);
}

.member-box-content:before {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #C13832;
    content: '';
    position: absolute;
}

#member-box-1 .member-box-content:before {
    top: -30px;
    left: 90px;
}

#member-box-2 .member-box-content:before {
    top: -30px;
    left: 330px;
}

#member-box-3 .member-box-content:before {
    top: -30px;
    left: 570px;
}

#member-box-4 .member-box-content:before {
    top: -30px;
    left: 810px;
}

.active {

}

.member-box {
    display: none;
}

.member-box.active {
    display: block;
}

.member-description {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.member-box-content h2 {
    color: #fff;
}

.member-content {
    flex: auto;
    max-width: 70%;
    padding-right: 40px;
}

.participating {
    flex: auto;
}

.participating ul {
    margin-left: 20px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h2 {
    color: #484848;
    font-size: 2.875rem;
    text-align: center;
    letter-spacing: -1px;
    padding-bottom: 20px;
}

a {
    color: #0096DD;
    text-decoration: none;
}

p, ul, ol, dl, hgroup {
    margin: 0px 0px 20px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.module {
    padding-top: 20px;
    padding-bottom: 30px;
}

.module:last-child {
    padding-bottom: 30px;
}

#general-community {
    min-height: 200px;
}


/* Mozilla FOOTER */
#colophon .logo a {
    display: block;
    width: 88px;
    height: 24px;
    background-image: url("images/footer-mozilla.png");
    background-size: auto 24px;
}

#colophon {
    clear: both;
    padding: 48px 0;
    font-size: 0.75rem;
    line-height: 1.3;
    background: #565A5C none repeat scroll 0% 0%;
    width: 100%;
    color: #BBB;
}

#colophon .row {
    width: 960px;
    margin: 0 auto;
}

#colophon a,
#colophon a:link,
#colophon a:visited {
    color: #0096DD;
}

#colophon a:hover,
#colophon a:focus,
#colophon a:active {
    color: #76D3FF;
    text-decoration: underline;
}

#colophon h1 {
    margin-bottom: 10px;
    font-size: 0.75rem;
}

#colophon p, #colophon ul {
    margin-bottom: 10px;
    line-height: 1.5;
}

#colophon li {
    margin: 0;
    list-style-type: none;
}

#colophon .col {
    float: left;
    width: 300px;
    margin: 0px 10px;
}

#colophon .col:last-child {
    margin-bottom: 0;
}


#colophon .col-2 ul {
    overflow: hidden;
}

#colophon .col-2 ul li.wrap::before {
    content: " · ";
}

#colophon .col-2 ul li.clear {
    clear: both;
}
#colophon .col-2 ul li {
    float: left;
}

#colophon li {
    float: left;
}

#colophon li .clear {
    clear: both;
}

#colophon li .wrap:before {
    content: "\00A0\00B7\00A0"; /* &nbsp;&middot;&nbsp; */
}

#colophon .links-social li ul {
    display: inline;
    margin: 0;
}

#colophon .links-social li li {
    display: inline;
}

#colophon .links-social li li:before {
    content: "\00B7\00A0"; /* &middot;&nbsp; */
}

#colophon .links-social li li:first-child:before {
    content: "";
}

#colophon .row::after {
    display: block;
    visibility:hidden;
    height: 0px;
    clear:both;
    content: ".";
}

@media screen and (max-width: 1100px) {
    #masthead {
        box-sizing: border-box;
    }

    #masthead, .head-stats, #colophon .row {
        width: 100%;
    }

    .container {
        box-sizing: border-box;
        width: 100% !important;
    }

    .head-stats li {
        margin: 0;
        width: 33%;
    }

    #colophon {
        box-sizing: border-box;
    }

    #tabzilla {

    }
}

@media screen and (max-width: 1020px) {
    h2 {
        padding-top: 20px;
        font-size: 1.5rem;
    }

    .member-description {
        display: block;
    }

    .member-content, .participating {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #members img {
        width: 80px;
        height: 80px;
    }

    #members .members-row {
        display: block;
    }

    #members .members-row:after {
        content: '';
        display: table;
        clear: both;
    }

    #members .members-row li {
        float: left;
        width: 28%;
        height: auto;
    }

    #members .members-row li:nth-child(2) {
        margin: 0 8%;
    }

    #members .members-row img {
        width: 100%;
        height: 100%;
    }

    #members .member-row-2 li {
        float: none;
        margin: 0 auto;
    }

    #member-box-1 .member-box-content::before {
        left: 10%;
    }

    #member-box-2 .member-box-content::before {
        left: 50%;
        margin-left: -30px;
    }

    #member-box-3 .member-box-content::before {
        left: auto;
        right: 10%;
        margin-right: -10px;
    }

    #member-box-4 .member-box-content::before {
        left: 50%;
        margin-left: -25px;
    }

}

@media screen and (max-width: 645px) {
    #masthead {
        padding: 0;
    }

    #masthead #nav-main {
        float: left;
    }

    #masthead #nav-main-menu li {
        display: block;
    }

    #masthead #nav-main-menu li a {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        margin-bottom: 0;
        font-size: 2rem;
    }

    #general-community {
        padding-bottom: 0;
    }

    #general-community .head-stats {
        margin: 10px 0;
    }

    #general-community .head-stats li {
        float: none;
        width: 100%;
    }

    #general-community .head-stats + p {
        margin-top: 0;
    }

    #members {
        padding-top: 0;
    }
}

@media screen and (max-width: 410px) {
    .steps li {
        box-sizing: border-box;
        width: 100%;
    }

    .cta a {
        box-sizing: border-box;
        width: 100%;
        min-width: 0;
    }

    #colophon .col {
        box-sizing: border-box;
        margin: 0;
        padding: 0 10px;
        width: 100%;
    }
}
